@model List<Phone>




<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var phone in @Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="https://content1.rozetka.com.ua/goods/images/big/364827150.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@phone.Name</h5>
                    <p class="card-text">$@phone.Price - choose this becouse @phone.Description</p>
                </div>
                <a asp-route-id="@phone.Id" class="btn btn-primary" asp-action="EditProduct" role="button">Edit</a>
                <a asp-route-id="@phone.Id" class="btn btn-danger" asp-action="DeleteProduct" role="button">Delete</a>
            </div>
        </div>
    }
</div>
<a class="btn btn-success" asp-action="AddProduct" role="button">Add product</a>
